.h-100{
    max-height: 500px;
}

.bg-image{
    background-image: url('bg-connexion.png');
    width: 400px;
    height:500px;
    /* background-size: 450px 500px; */
}

@media (max-width: 767px) { 
    .bg-image{
        width: 310px;
        height: 415px;
        
    }
 }