tbody tr:nth-child(2n+1){
    background-color: #E8EFF5;
}
.min-h-34{
    min-height: 34rem;
}

select, textarea{
    background-color: #DBEAFE;
}

.input-symbol-euro{
    position: relative;
}
.input-symbol-euro div input {
    padding-left:18px;
}

.upload-image > img{
    width: auto ;
    height: 380px ;
}
