.App-header {
  /* background-color: #ffffff; */
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0); */
}

.App-link {
  color: #61dafb;
}
