/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@import './components/Home/Connexion/connexion.css';
@import './pages/Sections/bienImmobilier.css'; 
@import './pages/base.css';
@import './components/Home/TextAccueil/textAccueil.css';


body {
  margin: 0;
  font-family: 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

